body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  header h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-left: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  .landing-container {
    position: fixed;
    font-size: 40px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
  }

  .landing-input{
    display: flex;
    width: 90%;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);

  }

  .landing-input input{
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .landing-input button{
    padding: 10px;
    background-color: #D3D3D3;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .landing-input button:hover{
    background-color: #949494;
  }


