<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dorm Dish</title>
    <link rel="stylesheet" href="/static/style/landing.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>dorm dish.</h1>
            <nav>
                <ul>
                    <li><a href="/recipe">recipes</a></li>
                    <li><a href="/chat">chat</a></li>
                </ul>
            </nav>
        </header>
    </div>

    <div class="landing-container">
        <div class="landing-head">
            <h1>are you hungry?</h1>
        </div>
        <div class="landing-input">
            <form id="landingForm" action="/chat" method="GET">
                <input type="text" id="inputPrompt" name="userInput" placeholder="what's in your fridge?" required>
                <button type="submit">find recipe</button>
            </form>
        </div>
    </div>

</body>

</html>
